@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        font-size: 14px;
    }

    .text-Overline {
        @apply font-Montserrat font-medium text-[12px] leading-[auto] tracking-[5px];
    }

    .text-Display {
        @apply font-Fraunces font-bold text-[32px] leading-[32px] tracking-[0px];
    }

    .text-Body {
        @apply font-Montserrat font-medium text-[14px] leading-[23px] tracking-[0px];
    }

    .text-ButtonText {
        @apply font-Montserrat font-bold text-[14px] leading-[auto] tracking-[0px];
    }
}

@layer components {



    footer.attribution {
        font-size: 11px;
        text-align: center;
    }

    footer.attribution a {
        color: hsl(228, 45%, 44%);
    }

    .icon-cart {
        @apply bg-[url('/src/images/icon-cart.svg')] bg-no-repeat bg-contain;
        @apply w-4 h-4 inline-block;
    }



}